


/* Mobile */
@media (max-width: 480px) {
	body {
		background: teal;
	}
}



/* Tablet */
@media (min-width: 480px) and (max-width: 768px) {
	body {
		background: yellow;
	}
}


/* Desktop */
@media (min-width: 768px) and (max-width: 992px) {
	body {
		background: green;
	}
}

